PORT=4000
MONGO_URI=mongodb://localhost:27017/safar
REDIS_URL=redis://localhost:6379
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=safar_user
MINIO_SECRET_KEY=safar_password
MINIO_BUCKET=safar-uploads
NODE_ENV=development
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:5173
